# =============================================================================
# Docker Compose - C++ (Otimizado com Multi-stage Cache)
# =============================================================================
# Uso: docker compose up
# App: Execução Standalone
# =============================================================================

services:
  database:
    image: "postgres:16-alpine"
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: ../
      dockerfile: .devcontainer/Dockerfile.cpp
      target: dev # A mágica acontece aqui: usamos só o estágio de desenvolvimento!
    volumes:
      - ../:/app
    working_dir: /app
    stdin_open: true
    tty: true
    env_file:
      - ../.env.development
    depends_on:
      - database

volumes:
  postgres-data:
